*{
    margin:0px;
    padding:0px;
    text-align:center;
  }
  body{
    box-sizing:border-box;
    background:#f8f8f8;
    height: 40vh;
    width: 100vw;
    overflow-y: scroll;
    overflow-x: hidden;
    }
  .headbar{
    width:100%;
    background:rgb(181 230 29);
    display:flex;
    justify-content:space-around;
    gap:10px;
    padding:5px;
    padding:10px;
    }
  .contactinfo{
    display:flex;
    gap:10px;
    color:#fff;
  }
  .socialmedia{
    display:flex;
    gap:10px;
    filter:invert(1);
  }
  .socialmedia img{
    width:20px;
  }
  .socialmedia:hover img{
    transform:scale(1.2);
  }
  .bar{
    width:100%;
    display:flex;
    justify-content:space-around;
    padding:15px;
    background:#fff;
  }
  .servicetxt{
    display:flex;
    gap:20px;
    font-size:20px;
  }
  .cartphoto{
    display:flex;
    font-size:20px;
    gap:10px;
  }
  .cartphoto img{
    width:30px;
  }
  .cartphoto:hover img{
    transform:scale(1.2);
  }
  .body1{
    width:100%;
    height:500px;
  background:url(https://images.unsplash.com/photo-1624628639856-100bf817fd35?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80);
    background-size:cover;
    display:flex;
    justify-content:center;
    align-items:center;
  }
  .bodytext{
    width:500px;
    height:250px;
    background:#fff;
    border-radius:20px;
    padding:20px;
  }
  .txt1{
    color:rgb(181 230 29);
    font-size:20px;
    margin-top:20px;
  }
  .txt2{
    font-size:40px;
    font-family:Helvetica;
    margin-top:20px;
  }
  .txt3{
    background:rgb(181 230 29);
    padding:10px;
    color:#fff;
    font-family:Helvetica;
    width:110px;
    border-radius:20px;
    text-align:center;
    margin:auto;
    margin-top:40px;
   }
  .txt3:hover{
    background:#000;
    color:#fff;
  }
  
  .toysshoping{
    width:100%;
    padding:50px;
    display:flex;
  justify-content:space-evenly;
  }
  .tedebear1{
   width:350px;
    height:100px;
    border-radius:20px;
    background:orange;
    display:flex;
    padding:20px;
    }
  .tedebear1 img{
    margin-top:-50px;
    width:120px;
    height:150px;
  }
  .beartxt1{
    color:#fff;
    text-align:center;
  }
  .stuffed{
    font-size:25px;
    
  }
  .shopnow{
    background:#fff;
    color:#000;
    padding:5px;
    width:80px;
    margin:auto;
    border-radius:20px;
    margin-top:20px;
  }
  .shopnow:hover{
    background:#000;
    color:#fff;
  }
  
  .tedebear2{
    width:350px;
    height:100px;
    border-radius:20px;
    background:rgb(255 51 51);
    display:flex;
    padding:20px;
    }
  .tedebear2 img{
    margin-top:-50px;
    width:140px;
    height:150px;
  }
  .beartxt2{
    color:#fff;
    text-align:center;
  }
  .wooden{
    font-size:25px;
    
  }
  .shopnow{
    background:#fff;
    color:#000;
    padding:5px;
    width:80px;
    margin:auto;
    border-radius:20px;
    margin-top:20px;
  }
  .shopnow:hover{
    background:#000;
    color:#fff;
  }
  
  .stuffedanimals{
    display:flex;
    justify-content:space-between;
    padding:20px;
  }
  button{
    width:100px;
    height:40px;
    padding:5px;
    background:#fff;
  }
  .bottontag{
    display:flex;
    text-align:center;
    align-items:center;
  }
  .buttontag img{
    width:20px;
  }
  .underlineanimals{
    width:100%;
    height:2px;
    background:grey;
  }
  
  .bearcard{
    padding:40px 20px;
    display:flex;
    justify-content:space-evenly;
  }
  .cardbear1{
   width:250px;
    height:300px;
    box-shadow:0px 0px 3px;
    border-radius:10px;
    background:#fff;
  }
  .bearimage img{
    width:150px;
  }
  .teddybear{
    font-size:20px;
  }
  .price30{
  /*   border:1px solid red; */
    width:90px;
    border-radius:20px;
    padding:5px;
    background:#cbed46;
    margin:auto;
    margin-top:10px;
  }
  .bearimage2 img{
    width:150px;
    margin-top:20px;
  }
  .teddydog{
     font-size:20px;
    margin-top:25px;
  }
  .bearimage3 img{
    width:150px;
    margin-top:20px;
  }
  .teddybearr{
     font-size:20px;
    margin-top:25px;
  }
  .bearimage4 img{
    width:180px;
    margin-top:15px;
  }
  .teddycat{
     font-size:20px;
    margin-top:20px;
  }
  .footer{
    width:100%;
    height:150px;
    background:rgb(181 230 29);
    padding:10px;
    display:flex;
    grid-template-columns:1fr 1fr 1fr 1fr;
    gap:16px;
  }
  .toystorefooter{
    color:#fff;
    font-size:30px;
  }
  .footerhome{
    display:grid;
    grid-template-columns:1fr 1fr 1fr 1fr 1fr;
    color:#fff;
    font-size:20px;
  }
  /* Nav */
  @import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
  
  @import url(https://fonts.googleapis.com/css?family=Titillium+Web:300);
  .fa-2x {
  font-size: 2em;
  }
  .fa {
  position: relative;
  display: table-cell;
  width: 60px;
  height: 36px;
  text-align: center;
  vertical-align: middle;
  font-size:20px;
  }
  
  
  .main-menu:hover,nav.main-menu.expanded {
  width:250px;
  overflow:visible;
  }
  
  .main-menu {
    background:rgb(181 230 29);
  position:absolute;
  top:0;
  bottom:0;
  height:100%;
  left:0;
  width:60px;
  overflow:hidden;
  -webkit-transition:width .05s linear;
  transition:width .05s linear;
  -webkit-transform:translateZ(0) scale(1,1);
  z-index:1000;
  }
  
  .main-menu>ul {
  margin:7px 0;
  }
  
  .main-menu li {
  position:relative;
  display:block;
  width:250px;
  }
  
  .main-menu li>a {
  position:relative;
  display:table;
  border-collapse:collapse;
  border-spacing:0;
  color:#999;
   font-family: arial;
  font-size: 14px;
  text-decoration:none;
  -webkit-transform:translateZ(0) scale(1,1);
  -webkit-transition:all .1s linear;
  transition:all .1s linear;
    
  }
  
  .main-menu .nav-icon {
  position:relative;
  display:table-cell;
  width:60px;
  height:36px;
  text-align:center;
  vertical-align:middle;
  font-size:18px;
  }
  
  .main-menu .nav-text {
  position:relative;
  display:table-cell;
  vertical-align:middle;
  width:190px;
    font-family: 'Titillium Web', sans-serif;
  }
  
  .main-menu>ul.logout {
  position:absolute;
  left:0;
  bottom:0;
  }
  
  .no-touch .scrollable.hover {
  overflow-y:hidden;
  }
  
  .no-touch .scrollable.hover:hover {
  overflow-y:auto;
  overflow:visible;
  }
  
  a:hover,a:focus {
  text-decoration:none;
  }
  
  nav {
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  -o-user-select:none;
  user-select:none;
  }
  
  nav ul,nav li {
  outline:0;
  margin:0;
  padding:0;
  }
  .main-menu li:hover>a,nav.main-menu li.active>a,.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus,.dropdown-menu>.active>a,.dropdown-menu>.active>a:hover,.dropdown-menu>.active>a:focus,.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,.dashboard-page nav.dashboard-menu ul li.active a {
  color:#fff;
  background-color:#000000;
  }
  .area {
  float: left;
  background: #e2e2e2;
  width: 100%;
  height: 100%;
  }
  @font-face {
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 300;
    src: local('Titillium WebLight'), local('TitilliumWeb-Light'), url(http://themes.googleusercontent.com/static/fonts/titilliumweb/v2/anMUvcNT0H1YN4FII8wpr24bNCNEoFTpS2BTjF6FB5E.woff) format('woff');
  }
  .col{
    text-decoration: none;
    color: aliceblue;
  }